@media (max-width:1200px) {
  .contact {
    .contact-block {
      flex-direction: column;

      .address-block {
        width: 100%;
        text-align: center;
      }
    }

    .map-block {
      width: 100%;
    }

    .form-block {
      width: 100%;
      margin-left: 0;

      .form-title {
        text-align: center;
        margin-top: 25px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 575.98px) and (max-width: 768.98px) {}

@media (max-width: 575.98px) {
  .contact {
    padding: 0 65px 45px;

    .form-up {
      flex-direction: column;

      .form-group-input {
        width: 100%;
      }
    }
  }
}