.footer {
  padding: 50px 125px;
  // height: 150px;
  background: url(./assets/footer_bg.jpg.png);
  background-size: cover;
  background-position: center center;

  .icon-facebook,
  .icon-twitter,
  .icon-pinterest,
  .icon-linkedin {
    font-size: 28px;
    min-width: 50px;
    min-height: 50px;
    background: #639b92;
  }
}