@media (min-width:1200px) {
  .nav-link-custom:hover {
    background-color: rgba($color: #ededed, $alpha: 0.5);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    .navbar-toggler-custom {
      padding: 15px 0 0;
    }

    .navbar-custom {
      padding: 20px 45px 0;
    }

    .nav-link-custom {
      width: 110px;
      height: 75px;
      padding-top: 30px;
      text-align: right;
      align-self: flex-end;
    }

    .carousel-control-prev-icon-custom,
    .carousel-control-next-icon-custom {
      display: none;
    }
  }
}

@media (min-width: 575.98px) and (max-width: 768.98px) {
  header {
    .navbar-custom {
      padding: 20px 45px 0;
    }

    .navbar-toggler-custom {
      padding: 15px 0 0;
    }

    .nav-link-custom {
      width: 75px;
      height: 45px;
      text-align: right;
      align-self: flex-end;
    }

    .carousel-control-prev-icon-custom,
    .carousel-control-next-icon-custom {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  header {
    .navbar-custom {
      padding: 10px 15px 0;
    }

    .navbar-toggler-custom {
      padding: 15px 0 0;
    }

    .nav-link-custom {
      width: 55px;
      height: 25px;
      padding-top: 10px;
      font-size: 0.7rem;
      text-align: right;
      align-self: flex-end;
    }

    .carousel-control-prev-icon-custom,
    .carousel-control-next-icon-custom {
      display: none;
    }

    .carousel-indicators-custom {
      margin-bottom: 5px;
    }

    .carousel-indicators-custom li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .carousel-indicators-custom li:nth-child(2) {
      margin: 0 20px;
    }
  }
}