.work {
  background: url(../assets/our_work_bg.png);
  background-size: cover;
  background-position: center center;
  padding: 0 125px 90px;

  .section-title {
    margin-bottom: 100px;
  }

  .section-title__title {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .section-title__subtitle {
    font-size: 20px;
  }

  .section-title__text {
    font-size: 14px;
  }

  .porfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .porfolio__title {
    font-size: 20px;
  }

  .porfolio__category {
    display: flex;
    font-size: 16px;
    height: 30px;
  }

  .porfolio__category a:hover {
    background-color: #eeab0f;
  }

  .work-cards {
    padding: 0 60px;
  }

  .work-card {
    max-width: 260px;
    height: 220px;
  }

  .work-card-title {
    font-size: 14px;
    margin-bottom: 0;
  }

  // .work-card-body {
  //   min-width: 260px;
  // }

  .mt-0 {
    margin-top: 4rem !important;
  }

  .mb-0 {
    margin-bottom: 4rem !important;
  }
}